
@import url(https://use.fontawesome.com/releases/v5.4.1/css/all.css);

@import url('https://fonts.googleapis.com/css?family=Lato|Roboto');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

menu{
    height: 35%;
    width: 100%;
    padding: 20px 100px;
}



.icons{
    float:left;
}

.donation{
    float: right;
}
